.header {
  border-bottom: 2px solid #ddd;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.3rem;
  padding-top: 1.5rem;
}

.logo h3 {
  margin: -0.4rem;
  padding: 0;
  line-height: 1;
}

.logo .the {
  font-family: 'Grifa';
  font-weight: 400;
  font-size: 2rem;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* "CHEESE GRATER" */
.cheese-grater {
  font-family: 'Bitter';
  font-weight: 900;
  font-size: 6rem;

  display: inline-block;
  transform: scaleX(0.7);
  transform-origin: center;

  margin: 0;
  padding: 0;
  line-height: 0.9;
}

.cheese-grater .cheese {
  color: var(--cg-yellow-t);
}

.cheese-grater .grater {
  color: black;
}

.grater-icon {
  display: inline-block;
  width: 1em;
  height: 1em;

  background-image: url('https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/logos/cg_full_opacity.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  vertical-align: -0.15em; /* adjust up/down */
  transform: scaleX(1.4);
}

.best {
  font-family: 'Bitter';
  font-size: 1.2rem;
  font-weight: 600;

  display: inline-block;
}

.menu-bar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: space-around;
  align-items: center;
}

.menu-bar .menu-item {
  color: var(--cg-font);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.75rem 1.25rem;
  cursor: pointer;

  transition:
    background-size 400ms,
    background-color 400ms ease;

  background-image: var(
    --section-gradient,
    linear-gradient(to right, var(--cg-yellow-t), var(--cg-yellow-t))
  );
  background-size: 0 2px;
  background-position: 50% 90%;
  background-repeat: no-repeat;
}

.menu-item:hover {
  background-size: 80% 2px;
  background-color: #e9e9e9;
}

.menu-more {
  background: none;
  border: none;
  padding: 0.75rem 1.25rem;
  font: inherit;
  cursor: pointer;
}

.menu-bar .print-edition {
  color: var(--cg-yellow);
}

.voices {
  --section-gradient: linear-gradient(
    to right,
    var(--cg-yellow-t),
    var(--cg-voices-t)
  );
}

.news {
  --section-gradient: linear-gradient(
    to right,
    var(--cg-yellow-t),
    var(--cg-news-t)
  );
}

.humour {
  --section-gradient: linear-gradient(
    to right,
    var(--cg-yellow-t),
    var(--cg-humour-t)
  );
}

.podcast {
  --section-gradient: linear-gradient(
    to right,
    var(--cg-yellow-t),
    var(--cg-podcast-t)
  );
}
