.header-search {
  position: relative;
}

.search-panel {
  position: absolute;
  right: 0;
  top: 110%;
  width: 300px;
  background: var(--cg-white);
  border: 1px solid #ddd;
  padding: 0.5rem;
  z-index: 100;

  display: grid;
  gap: 0.2rem;
}

.sr-only {
  color: var(--cg-font);
  text-align: start;
}

.search-panel input {
  width: 100%;
  padding: 0.4rem 0.6rem;
  font-size: 0.9rem;
}

.search-panel button {
  width: fit-content;
  margin-top: 0.2rem;
  padding: 0.2rem 0.4rem;
  font-family: "Libre Baskerville";
  border: none;
  cursor: pointer;

  background-color: var(--cg-white);
  border-radius: 5px;
}

.search-panel button:hover {
  background-color: #e9e9e9;
}

.menu-item {
  color: var(--cg-font);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.75rem 1.25rem;
  cursor: pointer;

  transition:
    background-size 400ms,
    background-color 400ms ease;

  background-image: var(
    --section-gradient,
    linear-gradient(to right, var(--cg-yellow-t), var(--cg-yellow-t))
  );
  background-size: 0 2px;
  background-position: 50% 90%;
  background-repeat: no-repeat;
}

.menu-item:hover {
  background-size: 80% 2px;
  background-color: #e9e9e9;
}

.menu-more {
  background: none;
  border: none;
  padding: 0.75rem 1.25rem;
  font: inherit;
  cursor: pointer;
}

