.more-menu {
  width: 100%;
  background: #eaeaea;

  max-height: 0;
  overflow: hidden;

  transition: max-height 400ms ease;
  border-bottom: 2px solid #ddd;
}

/* when open */
body.more-open .more-menu {
  max-height: 600px;
}

body.more-open {
  overflow: hidden;
}

.menu-inner {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  justify-content: center;
  gap: 2rem;
  padding: 1rem 10rem;
  color: var(--cg-font);
}

.more-submenu {
  display: grid;
  align-content: start;
  gap: 0.4rem;
}

.more-menu h3 {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--cg-font);
  text-align: center;
}

.more-menu-text {
  text-decoration: none;
  font-size: 1rem;
  color: var(--cg-font);
  text-align: center;

  padding-bottom: 2px;

  transition: background-size 400ms;

  background-image: none;
  position: relative;
}

.more-menu-text::after {
  content: '';
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  height: 2px;
  background-color: var(--cg-yellow-t);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.more-menu-text:hover::after {
  transform: scaleX(1);
}

.more-close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.more-close:hover {
  opacity: 0.7;
}

.time-machine {
  padding-left: 1rem;
  font-size: 0.8rem;
  color: #777;
}
