---
// src/components/SectionList.astro
import Title from './Title.astro';
import List from './List.astro';

const { data } = Astro.props;
---

<main class="page-desktop">
  <Title sectionUpper={data.section} />
  <List data={data} />
</main>
