.article-container {
  display: grid;
  width: 100%;
  grid-template-columns: 7.3fr 2.8fr;
  padding: 3rem 9rem;
  gap: 3rem;
  zoom: 0.9375;
}

.article-container .container-main {
  display: grid;
  gap: 3rem;
}

.article-container .main-article {
  display: grid;
  background-color: #fff;
}

.article-container .more-article {
  display: grid;
  gap: 1.5rem;
  background-color: #fff;
  padding: 2rem;
}

.article-container .main-heading {
  display: grid;
  padding: 3rem 3rem 0.5rem 3rem;
  gap: 0.8rem;
}

.article-container .main-content {
  display: grid;
  gap: 1rem;
  padding: 0.5rem 3.5rem 5rem 3.5rem;
}

.article-container .author-box {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.article-container .author-text {
  display: grid;
  align-items: start;
  gap: 0.2rem;
}

.article-container .author-image {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.author {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
}

.role {
  font-style: normal;
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.article-container .container-side {
  gap: 1rem;
  padding: 1rem;
}

.article-container .main-heading h1 {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.2rem;
  color: #222;
}

.article-container .main-content h2 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 25px;
  color: var(--cg-font);
}
.article-container .main-content,
.main-heading p {
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  color: var(--cg-font);
  line-height: 1.85rem;
  font-weight: 400;
  font-style: normal;
  font-kerning: normal;
  font-variant-ligatures: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.article-container .article-row.mobile-only {
  display: none;
}

@media (max-width: 1024px) {
  .article-container .article-row.desktop-only {
    display: none;
  }

  .article-container .article-row.mobile-only {
    display: grid;
  }
}

@media (max-width: 1024px) {
  .article-container {
    padding: 1.5rem 1rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .article-container .main-heading {
    padding: 1.5rem 1rem 0.5rem 1rem;
  }
  .article-container .main-content {
    padding: 0.5rem 1.2rem 3rem 1.2rem;
  }
  .article-container .main-heading h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  .article-container .main-content,
  .main-heading p {
    font-size: 1rem;
    line-height: 1.85rem;
  }
}

.container-side p {
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  color: var(--cg-font);
  line-height: 1.85;
  font-weight: 400;
  font-style: normal;
  font-kerning: normal;
  font-variant-ligatures: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.article-container .main-content h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2rem;
  color: var(--cg-font);
  line-height: 1.85;
  font-weight: 700;
  font-style: normal;
  font-kerning: normal;
  font-variant-ligatures: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.article-container .main-content h4 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2rem;
  color: var(--cg-font);
  line-height: 1.85;
  font-weight: 700;
  font-style: normal;
  font-kerning: normal;
  font-variant-ligatures: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.article-container .main-content a {
  text-decoration: none;
  color: var(--cg-yellow);
}

.container-side a {
  text-decoration: none;
  color: var(--cg-yellow);
}

.article-container .section-link {
  text-decoration: dotted;
  color: var(--cg-yellow);
}

.article-container .date {
  color: #939393;
}

.article-container .caption {
  color: var(--cg-font);
  font-size: 0.8rem;
}

.article-container figcaption {
  font-family: 'Libre Baskerville', serif;
  color: var(--cg-font);
  font-size: 0.8rem;
}

.article-container img {
  width: 80%;
  height: auto;
  display: block;
}

.article-container figure img {
  display: block;
}

.article-container figure figcaption {
  margin-top: 0.5rem;
}

.article-body {
  display: grid;
  gap: 1rem;
  font-family: 'Libre Baskerville';
  color: var(--cg-font);
}

.article-container .readmore {
  width: fit-content;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--cg-font);
  border-bottom: 3px solid var(--cg-yellow);
}

.article-container .side-header {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--cg-font);
}

.article-container .article-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .article-container .article-row {
    grid-template-columns: 1fr;
  }
}

.article-container .contact-newsletter {
  display: grid;
  gap: 1rem;
}

.article-container button {
  cursor: pointer;
  padding: 10px 25px;
  background: var(--cg-yellow-t);
  box-shadow: none;
  border: none;
  border-radius: 30px;
}

.article-container button:hover {
  background: var(--cg-yellow);
}

.article-container .button-h3 {
  color: var(--cg-white);
  font-size: 1rem;
}
