/* ----------------------------------------------
   IMPORT FONTS
----------------------------------------------- */
/* GRIFA REGULAR (400) */
@font-face {
  font-family: 'Grifa';
  src:
    url('/src/assets/fonts/Grifa/Grifa-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Grifa/Grifa-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* LIBRE BASKERVILLE REGULAR (400) */
@font-face {
  font-family: 'Libre Baskerville';
  src:
    url('/src/assets/fonts/Libre_Baskerville/static/LibreBaskerville-Regular.woff2')
      format('woff2'),
    url('/src/assets/fonts/Libre_Baskerville/static/LibreBaskerville-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* LIBRE BASKERVILLE BOLD (700) */
@font-face {
  font-family: 'Libre Baskerville';
  src:
    url('/src/assets/fonts/Libre_Baskerville/static/LibreBaskerville-Bold.woff2')
      format('woff2'),
    url('/src/assets/fonts/Libre_Baskerville/static/LibreBaskerville-Bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* BIITER REGULAR (400) */
@font-face {
  font-family: 'Bitter';
  src:
    url('/src/assets/fonts/Bitter/static/Bitter-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Bitter/static/Bitter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* BITTER BOLD (700) */
@font-face {
  font-family: 'Bitter';
  src:
    url('/src/assets/fonts/Bitter/static/Bitter-Bold.woff2') format('woff2'),
    url('/src/assets/fonts/Bitter/static/Bitter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* BITTER BOLD ITALIC (700) */
@font-face {
  font-family: 'Bitter';
  src:
    url('/src/assets/fonts/Bitter/static/Bitter-BoldItalic.woff2')
      format('woff2'),
    url('/src/assets/fonts/Bitter/static/Bitter-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* BITTER EXTRA BOLD (800) */
@font-face {
  font-family: 'Bitter';
  src:
    url('/src/assets/fonts/Bitter/static/Bitter-ExtraBold.woff2')
      format('woff2'),
    url('/src/assets/fonts/Bitter/static/Bitter-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* BITTER BLACK (900) */
@font-face {
  font-family: 'Bitter';
  src:
    url('/src/assets/fonts/Bitter/static/Bitter-Black.woff2') format('woff2'),
    url('/src/assets/fonts/Bitter/static/Bitter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* ----------------------------------------------
   GLOBAL RESET
----------------------------------------------- */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bitter', serif;
  font-weight: 400;
  color: #000;
  background: var(--cg-white);
  line-height: 1.5;
}

.header-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: grid;
  }
}

/* default: mobile */
.page {
  width: 100%;
  max-width: none;
}

/* desktop breakpoint */
@media (min-width: 1024px) {
  .page {
    max-width: 1600px;
    margin: 0 auto;
  }
}

/* ----------------------------------------------
   TYPOGRAPHY
----------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitter', serif;
  font-weight: 600;
}

/* ----------------------------------------------
   PAGE WRAPPER
----------------------------------------------- */

#root {
  width: 100%;
}

:root {
  --cg-yellow: #e2ba00;
  --cg-yellow-t: #e2ba00aa;

  --cg-news: #2c59ae;
  --cg-news-t: #2c59aeaa;

  --cg-humour: #00674b;
  --cg-humour-t: #00674baa;

  --cg-voices: #c42873;
  --cg-voices-t: #c42873aa;

  --cg-podcast: #d24b4b;
  --cg-podcast-t: #d24b4baa;

  --cg-white: #f3f2f1;
  --cg-font: #424242;

  --header-height: 218px;
}
