.more-styling {
  padding: 2rem 10rem;
  display: grid;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .more-styling {
    padding: 0 1.5rem;
  }
}

.more-styling p {
  font-family: 'Libre Baskerville';
  color: var(--cg-font);
  font-size: 0.9rem;
  line-height: 2rem;
}

.more-styling h2,
h3 {
  color: var(--cg-font);
}

.more-styling a {
  font-family: 'Libre Baskerville';
  font-size: 0.9rem;
  color: var(--cg-yellow);
  text-decoration: none;
}

.more-styling li {
  font-family: 'Libre Baskerville';
  font-size: 0.9rem;
  line-height: 2rem;
  color: var(--cg-font);
}

.more-styling-text {
  display: grid;
  gap: 0.5rem;
}

.anonymous li {
  margin: 0 1rem;
}

.whoweare-section {
  display: grid;
  gap: 1rem;
}

.whoweare h1 {
  font-family: 'Libre Baskerville';
  color: var(--cg-font);
  text-align: center;
}

.whoweare .author-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.whoweare .author-text {
  display: grid;
  align-items: start;
  gap: 0.2rem;
}

.whoweare .author-image {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.author {
  color: var(--cg-font);
  font-family: 'Libre Baskerville';
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
}

.role {
  color: var(--cg-font);
  font-family: 'Libre Baskerville';
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.whoweare-editors {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.honorary-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.awards-table {
  overflow-x: auto;
}

.awards table {
  border-collapse: collapse;
  font-family: 'Libre Baskerville';
  font-size: 0.9rem;
  color: var(--cg-font);
  width: 100%;
  table-layout: fixed;
}

.awards thead th {
  font-weight: 600;
  padding: 10px 6px;
  border: 1px solid #c5c5c5;
  background: #ddd;
}

.more-styling iframe {
  width: 80%;
  height: 1000px;
}

@media (max-width: 1024px) {
  .whoweare-editors {
    grid-template-columns: 1fr;
  }
  .awards table {
    width: fit-content;
    table-layout: auto;
    font-size: 0.8rem;
  }
  .more-styling a {
    font-size: 0.8rem;
  }
  .honorary-columns {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .more-styling {
    padding: 1.5rem;
  }
  .more-styling iframe {
    height: 600px;
  }
}

.awards td {
  padding: 10px 6px;
  border: 1px solid #c5c5c5;
  vertical-align: top;
}

.awards td.wrap {
  white-space: normal;
}

.awards th:nth-child(1),
.awards td:nth-child(1) {
  width: 15%;
}

.awards th:nth-child(2),
.awards td:nth-child(2) {
  width: 5%;
}

.awards th:nth-child(3),
.awards td:nth-child(3) {
  width: 20%;
}

.awards th:nth-child(4),
.awards td:nth-child(4) {
  width: 50%;
}

.awards th:nth-child(5),
.awards td:nth-child(5) {
  width: 10%;
}
