.card {
  cursor: pointer;
  margin-bottom: 0;
  width: 100%;
}

.card h3 {
  font-family: 'Bitter';
  font-weight: 600;
  line-height: 1.25;
  color: var(--cg-font);
  text-decoration: none;
}

.card p {
  font-family: 'Bitter';
  font-weight: 400;
  line-height: 1.25;
  color: var(--cg-font);
}

.date {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.25;
  color: var(--cg-yellow);
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.wipe {
  display: inline;
  color: var(--cg-font);

  transition: background 200ms ease-in-out;

  background-image: linear-gradient(
    var(--cg-white) 50%,
    var(--cg-yellow-t) 50%
  );
  background-size: auto 200%;
}

.link:hover .wipe {
  background-position-y: 100%;
}

/* ============================================
   TAG LABELS
============================================ */

.card .tag {
  display: inline-flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;

  font-family: 'Bitter';
  font-weight: 800;

  color: white;
  line-height: 1;
}

.card .tag-major {
  padding: 6px 6px;
  font-size: 1rem;
}

.card .tag-major-mbcard {
  padding: 6px 6px;
  font-size: 0.8rem;
}

.card .tag-minor {
  padding: 4px 4px;
  font-size: 0.7rem;
}

/* Tag colours */
.card .tag-voices {
  background: var(--cg-voices);
}

.card .tag-humour {
  background: var(--cg-humour);
}

.card .tag-graphics {
  background: var(--cg-humour);
}

.card .tag-news {
  background: var(--cg-news);
}

.card .tag-podcast {
  background: var(--cg-podcast);
}

.tag-graphics {
  background: var(--cg-yellow);
}

.tag-podcast {
  background: var(--cg-yellow);
}

/* ============================================
   IMAGE ASPECT RATIO
============================================ */

/* Main + side cards (7:5) */
.card .ratio-7-5 {
  position: relative;
  width: 100%;
  padding-bottom: calc(100% * 5 / 7);
  overflow: hidden;
}

.card .ratio-7-5 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ============================================
   A-CARD
============================================ */
.card.a-card h3 {
  font-size: 1.5rem;
}

.card.a-card p {
  font-size: 1.1rem;
}

/* ============================================
   B-CARD + MB-CARD
============================================ */
.card.b-card h3 {
  font-size: 1.2rem;
}

.card.b-card p {
  font-size: 0.9rem;
}

.card .mbcard-title {
  font-size: 1.4rem;
}

/* ============================================
   C-CARD
============================================ */
.card.c-card .h3-layout {
  color: var(--cg-white);
  font-size: 1rem;
}

.card.c-card .h3-subpage {
  color: var(--cg-font);
  font-size: 1rem;
}

.date.c-card-date.layout {
  color: var(--cg-white);
}

.date.c-card-date.subpage {
  color: var(--cg-yellow);
}
