.more-title {
  display: grid;
  grid-auto-rows: auto;

  padding: 1.7rem 6rem;
  justify-content: space-around;
  justify-items: center;
  align-items: start;
  align-content: start;
  text-align: center;
  gap: 1rem;

  background-repeat: no-repeat, repeat;

  background-size:
    cover,
    90px 90px;

  background-position: center, center;

  background-image:
    linear-gradient(to right, var(--cg-yellow-t) 0%, #e2ba0066 100%),
    url('https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/logos/cg.png');

  animation: cg-drift-more-title 10s linear infinite;
}

@keyframes cg-drift-more-title {
  0% {
    background-position:
      center,
      0 0;
  }
  50% {
    background-position:
      center,
      -180px -90px;
  }
  100% {
    background-position:
      center,
      -360px 0;
  }
}

.more-title .heading {
  color: var(--cg-white);
  font-size: 3rem;
  font-weight: 800;
}

@media (max-width: 1024px) {
  .more-title {
    padding: 1.2rem;
  }
}
