.archive-page {
  width: 1020px;
  margin: 0 auto;
  background-color: white;
}

@media (max-width: 1020px) {
  .archive-page {
    --scale: calc(100vw / 1020);
    transform: scale(var(--scale));
    transform-origin: top center;
  }
}

.archive-page p {
  font-family: 'Georgia';
}

.archive-page .header-nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0 1rem 1rem 1rem;
  gap: 0.2rem;
}

.archive-page .header-nav a {
  font-family: 'Arial';
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 5px 30px;
}

.archive-page .header-nav a:hover {
  background-color: #333;
  text-decoration: underline;
}

.archive-page .page-body {
  display: flex;
  flex-direction: row;
}

.archive-page .page-body h3 {
  font-family: 'Arial';
  font-size: 15px;
  color: black;
}

.archive-page .page-body a {
  text-decoration: none;
  color: #333;
}

.archive-page .page-body p {
  font-size: 13px;
}

.archive-page .print-img {
  width: 160px;
  height: 220px;
  margin-right: 1rem;
}

.archive-page .content {
  display: flex;
  flex-direction: row;
}

.archive-page .section {
  padding: 0 1rem 1rem 1rem;
  display: grid;
  gap: 1rem;
}

.archive-page .section img {
  width: 800px;
}

.archive-page .body {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.archive-page .body img {
  width: 120px;
}

.archive-page .content {
  display: grid;
  align-content: start;
  gap: 0.5rem;
  color: #333;
}

.archive-page .page-footer {
  border-top: 1px solid black;
  font-size: 11px;
  padding-bottom: 2rem;
}

.archive-page .page-footer p {
  font-family: 'Arial';
}
