---
export const prerender = true;

import BaseLayout from '../layouts/BaseLayout.astro';
import Title from '../components/section-list/Title.astro';
import GratersContent from '../components/article/GratersContent.astro';
import '../styles/MoreStyling.css';
import '../styles/graters.css';

import { getSupabaseClient } from '../lib/supabaseClient';

const supabase = getSupabaseClient();

// fetch article at request/build time
const { data: gratersArticles, error } = await supabase
  .from('graters_articles')
  .select('*');
  
if (error || !gratersArticles) {
  throw new Error('Could not load Graters performances.');
}

---

<BaseLayout title="The Graters – The Cheese Grater Magazine">
  <Title sectionUpper="Graters" />
  <div class="graters-page">
    <div class="graters-top">
      <img
        class="graters-main-image"
        src="https://images.cheesegratermagazine.org/graters_images/WhatsApp%20Image%202026-04-08%20at%2016.56.17.jpeg"
      />
      <div class="text">
        <h1 class="graters-heading">
          "The UCL Graters are our favourite illegitimate child, after [seeing their most recent show] we might consider leaving them in the will"
        </h1>

        <div class="author-box">
          <img
            class="author-image"
            src="https://images.cheesegratermagazine.org/author_thumbnails/cg_author.jpeg"
            alt="The Cheese Grater"
          />

          <div class="author-text">
            <span class="author">The Cheese Grater Magazine</span>
            <span class="role">
              University College London
            </span>
          </div>

        </div>
      </div> 
    </div>
    
    {gratersArticles.map((article) => (
      <GratersContent gratersArticle={article} />
    ))}
  </div>
</BaseLayout>
