.article-list {
  padding: 3rem 10rem;
  color: var(--cg-font);
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.article-list .main-grid {
  display: grid;
  gap: 2rem;
  justify-content: space-around;
}

.article-list .top-grid {
  display: grid;
  grid-template-columns: 6.5fr 7fr 7fr;
  align-items: start;
  gap: 2rem;
  justify-content: space-between;
}

.article-list .titles {
  display: grid;
  align-content: start;
  justify-items: start;
  gap: 1rem;
}

.article-list .underline-link {
  display: inline-block;
  width: fit-content;
  justify-self: start;

  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.25rem 0.4rem;

  text-decoration: none;
  color: var(--cg-font);
  transition:
    background-size 400ms,
    color 400ms;

  background: var(
    --section-gradient,
    linear-gradient(to right, var(--cg-yellow-t), var(--cg-yellow-t))
  );
  background-size: 0 120%;
  background-position: 0 80%;
  background-repeat: no-repeat;
}

.article-list .underline-link:hover {
  background-size: 110% 120%;
  color: #fff;
}

.article-list h2 {
  font-size: 0.9rem;
}

.article-list .card.b-card h3 {
  font-size: 1.1rem;
}

.article-list p {
  font-size: 0.9rem;
}

.titles h3 {
  font-family: 'Bitter';
  font-weight: 800;
  font-size: 2rem;
}

.titles p {
  font-family: 'Bitter';
  font-weight: 600;
  font-size: 1.2rem;
}

.titles a {
  font-family: 'Bitter';
  font-weight: 400;
  font-size: 1rem;
}

.article-list .bottom-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: space-between;
}

/* Tag colours */
.article-list .voices-h3 {
  border-bottom: 4px solid var(--cg-voices);
}

.article-list .humour-h3 {
  border-bottom: 4px solid var(--cg-humour);
}

.article-list .news-h3 {
  border-bottom: 4px solid var(--cg-news);
}

.article-list .voices-link {
  --section-gradient: linear-gradient(
    to right,
    var(--cg-yellow-t),
    var(--cg-voices-t)
  );
}

.article-list .news-link {
  --section-gradient: linear-gradient(
    to right,
    var(--cg-yellow-t),
    var(--cg-news-t)
  );
}

.article-list .humour-link {
  --section-gradient: linear-gradient(
    to right,
    var(--cg-yellow-t),
    var(--cg-humour-t)
  );
}

.bottom-grid.mobile-only {
  display: none;
}

@media (max-width: 1024px) {
  .article-list {
    padding: 2rem;
  }
  .article-list .main-grid {
    gap: 0.8rem;
  }
  .article-list .top-grid {
    grid-template-columns: 1fr;
  }
  .article-list .titles {
    gap: 1rem;
  }
  .article-list .bottom-grid {
    padding: 0 0.4rem;
    grid-template-columns: 1fr;
  }
  .article-list .underline-link {
    font-size: 0.8rem;
    background-size: 110% 120%;
    color: #fff;
  }
  .bottom-grid.desktop-only {
    display: none;
  }
  .bottom-grid.mobile-only {
    display: grid;
  }
  .desktop-only {
    display: none;
  }
}
