---
import './BestPub.css';
---

<section class="best-pub" aria-labelledby="bestpub-heading">
  <figure class="cover">
    <a href="/past-issues/issue-93">
      <img
        src="https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/logos/cg_issue93.png"
        alt="Issue 93 cover of The Cheese Grater"
      />
    </a>
  </figure>

  <article class="text">
    <h2 id="bestpub-heading" class="bestpub-header">
      Best Student Publication in London 2025
    </h2>

    <p>
      We've been producing biting, witty, and award-winning journalism at UCL
      since 2004. We recently added
      <strong>Best Student Publication in London (SPAs 2025)</strong>
      to our
      <a href="/awards" class="bestpub-link"> long, long list of accolades </a>.
      If you like what you see, you should join our crew!
    </p>

    <p>
      Issue 93 of <em>The Cheese Grater</em> is out now! Click the cover to start
      reading. You can usually find a free print copy in either our campus newsstands
      or one of the campus bins.
    </p>
  </article>
</section>
