---
import { getPrintEditions } from '../../lib/getPrintEditions';
import { Image } from 'astro:assets';
import './BestPub.css';

const data = await getPrintEditions();

const latestIssue = data[0];
if (!latestIssue) return null;

const match = latestIssue.slug.match(/^CG(\d+)-/);
const issueNo = match ? match[1] : null;
---

<section class="best-pub" aria-labelledby="bestpub-heading">
  <figure class="cover">
    <a href={latestIssue.href}>
      <Image
        src={latestIssue.coverUrl}
        alt={`Print edition ${latestIssue.name}`}
        width={800}
        height={1120}
        layout='constrained'
      />
    </a>
  </figure>

  <article class="bestpub-text">
    <h2 id="bestpub-heading" class="bestpub-header">
      Best Student Publication in London 2025
    </h2>

    <p>
      We've been producing biting, witty, and award-winning journalism at UCL
      since 2004. We recently added
      <strong>Best Student Publication in London (SPAs 2025)</strong>
      to our
      <a href="/awards" class="bestpub-link"><strong> long, long list of accolades</strong></a>.
      If you like what you see, you should join our crew!
    </p>

    <p>
    Issue {issueNo} of <em>The Cheese Grater</em> is out now! Click the cover to start reading. You can usually find a free print copy in either our campus newsstands or one of the campus bins.
    </p>
  </article>
</section>
