---
import './Newsletter.css';
---

<section
  id="newsletter"
  class="newsletter"
  aria-labelledby="newsletter-heading"
>
  <figure class="logo">
    <img
      src="https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/logos/cg_digestive.png"
      alt="The Digestive newsletter logo"
    />
  </figure>

  <article class="text">
    <h2 id="heading" class="header">Newsletter: The Digestive</h2>

    <p>
      Keep up with what’s happening at UCL with <em>The Digestive</em>, our
      fortnightly newsletter covering campus news, satire, and student
      discourse—delivered every other Monday during term time.
    </p>

    <p>
      <a
        href="https://us17.campaign-archive.com/home/?u=65bd5c7a770205040fd2e9e8a&id=9679db51c3"
        target="_blank"
        rel="noopener noreferrer"
      >
        <button><h3 class="button-h3">Join the newsletter</h3></button>
      </a>
    </p>
  </article>
</section>
