.minor-layout-mobile {
  backdrop-filter: blur(10px);
  background-repeat: no-repeat, repeat;

  background-size:
    cover,
    90px auto;

  background-position: center, center;

  width: 100%;
  height: 160vh;
  min-height: 100%;
  border-radius: 10px;

  box-shadow:
    8px 0 8px rgba(0, 0, 0, 0.25),
    -8px 0 8px rgba(0, 0, 0, 0.25);
}

.minor-layout-Voices {
  background-image:
    linear-gradient(rgba(196, 40, 115, 0.7), rgba(196, 40, 115, 0.7)),
    url('https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/logos/cg.png');
}

.minor-layout-News {
  background-image:
    linear-gradient(rgba(44, 89, 174, 0.7), rgba(44, 89, 174, 0.7)),
    url('https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/logos/cg.png');
}

.minor-layout-Humour {
  background-image:
    linear-gradient(rgba(0, 103, 75, 0.7), rgba(0, 103, 75, 0.7)),
    url('https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/logos/cg.png');
}
